.test-box {
    background-color: #FFDDC1; /* Light peach color */
    border: 2px solid #FF5733; /* Red border */
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.highlight-box {
    border: 2px solid #0077B5;
    border-radius: 10px;
    padding: 20px;
    background-color: #F7F9FA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.progress-box {
    margin-top: 10px;
}